 
.p001 {

color: black;
padding: 10px;
width: 400px; 
height: 450px;
border: none;
font-size: 18px;
}


 .p0 {
  /*background-color: #f80768;*/
  color: #f80768;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 45px;
 }
.p1 {
  background-color: #b7dbe2;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p2 {
  background-color: #fbbe08;
  color: #a41e1e;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p3 {
  background-color: #6f81f2;
  color: #fdfbfb;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p4 {
  background-color: #89f5b1;
  color: #091df9;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p5 {
  background-color: #f80606;
  color: #fdfdff;;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
/*  margin-left: 150px;*/
/*  font-size: 30px;*/
  font-size: xx-large; 
  font-family:Georgia, 'Times New Roman', Times, serif

 }

 
a:link {
  color: #f9faf7;
}

a:visited {
  color:  navy;
}

a:hover {
 /* border-bottom: 1px solid;*/
  background: #ddcff4;
}

 