 
.p001 {

color: black;
padding: 10px;
width: 400px; 
height: 450px;
border: none;
font-size: 18px;
}


 .p0 {
  /*background-color: #f80768;*/
  color: #f80768;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 45px;
 }
.p1 {
  background-color: #b7dbe2;
  color: #444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p2 {
  background-color: #fbbe08;
  color: #a41e1e;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p3 {
  background-color: #6f81f2;
  color: #fdfbfb;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p4 {
  background-color: #89f5b1;
  color: #091df9;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 30px;
 }
 .p5 {
  background-color: #fd0202;
  color: #fefefe;;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
/*  margin-left: 150px;*/
/*  font-size: 30px;*/
  font-size: xx-large; 
  font-family:Georgia, 'Times New Roman', Times, serif

 }

.p5 a:hover{
    color: rgb(251, 243, 3);
    font-weight: bold;
  }

a:link{
    color: rgb(3, 113, 54);
    font-weight: bold;
    /*text-decoration-line: underline;*/
  }
 
